.container {
  background-color: #06d6a0;
  padding: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  color: #fff;
}

.navbar__main {
  margin-bottom: 1rem;
}
.navbar__list {
  list-style: none;
}
.navbar__item {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .container {
    padding: 1rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .navbar__main {
    margin: 0;
  }
  .navbar__list {
    display: flex;
  }
  .navbar__item {
    margin: 0 1rem;
  }
}
